.navbar navbar-expand-lg navbar-light bg-light {
  position: fixed;
}

.welcome-area {
  text-align: center;
}

.container img {
  width: 300px;
  height: 300px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-right: 0 !important;
  padding-bottom: 20px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  padding-top: 100px;
}

.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: auto;
}

/* Button */

.lessonBtn {
  font-size: 24px;
  font-family: Times New Roman;
  width: 114px;
  height: 50px;
  border-width: 1px;
  color: #666666;
  border-color: #dcdcdc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px -26px #ffffff;
  text-shadow: inset 0px 1px 0px #ffffff;
  background: linear-gradient(#9fef8b, #a7ffb4);
}

.lessonBtn:hover {
  background: linear-gradient(#a7ffb4, #9fef8b);
}

/* Form */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 420px;
  /* margin-left: 80px; */
  /* margin: 10px auto; */
}

.feedback-input {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #464242;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 300px;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 1px solid #464242;
}

textarea {
  height: 100px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 300px;
  border-color: #dcdcdc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  background: linear-gradient(#9fef8b, #a7ffb4);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  margin-bottom: 50px;
}
[type="submit"]:hover {
  background: linear-gradient(#a7ffb4, #9fef8b);
}
